#!/usr/bin/python3
"""Download world file from dropbox
"""

import dropbox
import os

access_token = "{{ dropbox_access_token }}"
dbx = dropbox.Dropbox(access_token)
print("[SUCCESS] dropbox account linked")

with open("/world/swan_world.wld", "wb") as f:
    metadata, res = dbx.files_download(path="/swan_world.wld")
    f.write(res.content)

print("[DOWNLOADED]")
