#!/usr/bin/python3
"""Download world file from dropbox
"""

import dropbox

access_token = "{{ dropbox_access_token }}"
dbx = dropbox.Dropbox(access_token)
print("[SUCCESS] dropbox account linked")

with open("/world/swan_world.wld", "rb") as f:
    dbx.files_upload(
        f.read(), 
        "/swan_world.wld", 
        mode=dropbox.files.WriteMode("overwrite")
    )

print("[UPLOADED]")
